<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <ul>
            <img src="/a/logo-mercado-liebre.svg" alt="logo Mercado Liebre" height="200px" width="200px">
            <p>Lugar para poner la barra de busqueda</p>
            <p>Comprá en cuotas y sin tarjeta de crédito</p>
            <li>Barra de navegación que posea las siguientes opciones:</li>
                <ul>
                    <li>Ofertas</li>
                    <li>Tiendas Oficiales</li>
                    <li>Vender</li>
                    <li>Ayuda</li>
                    <li>Creá tu cuenta</li>
                    <li>Ingresá</li>
                    <li>Mis compras</li>
                </ul>
        </ul>
    </header>
    <main>
        <ul>
            <li>Sección: Basado en tu última visita</li>
        </ul>
        <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera" width="200px" height="200px">
        <p>$6.770</p>
        <p>40% OFF</p>
        <p>Cafetera Moulinex</p>

        <img src="/images/img-macbook-pro-2019.jpg" alt="cafetera" width="200px" height="200px">
        <p>$230.000</p>
        <p>20% off</p>
        <p>MacBook Pro 2019</p>

        <img src="/images/img-samsung-galaxy-s10.jpg" alt="cafetera" width="200px" height="200px">
        <p>$70.500</p>
        <p>10% off</p>
        <p>Samsung Galaxy S10</p>

        <img src="/images/img-tv-samsung-smart.jpg" alt="cafetera" width="200px" height="200px">
        <p>$23.200</p>
        <p>5% off</p>
        <p>SmartTv Samsung 43"</p>

        <ul>
            <li>Sección de Ofertas</li>
        </ul>

        <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera" width="200px" height="200px">
        <p>$6.770</p>
        <p>40% OFF</p>
        <p>Cafetera Moulinex</p>

        <img src="/images/img-samsung-galaxy-s10.jpg" alt="cafetera" width="200px" height="200px">
        <p>$70.500</p>
        <p>10% off</p>
        <p>Samsung Galaxy S10</p>

        <img src="/images/img-tv-samsung-smart.jpg" alt="cafetera" width="200px" height="200px">
        <p>$23.200</p>
        <p>5% off</p>
        <p>SmartTv Samsung 43"</p>        

    </main>
    <footer>
        <ul>
            <li><strong>Pagá con tarjeta o en efectivo</strong></li>
        </ul>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        <ul>
            <li><strong> Envío gratis desde $ 2.500</strong></li>
        </ul>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        <ul>
            <li><strong>Seguridad, de principio a fin</strong></li>
        </ul>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        <ul>
            <li><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></li>
        </ul>
    </footer>
</body>
</html>