<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
rel="stylesheet" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <header class="main-header">
        <div class="main-header-top-bar">
            <div class="logo-liebre">
                <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="logo Mercado Liebre" class="logo"></a>
            </div>
            <div class="busqueda-bar">
                <input type="text" placeholder="Buscar productos, marcas y más">
                <button><i class="fas fa-search alineacion"></i></button>
            </div>
            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjeta de credito
            </h2>
        </div>
        <div class="burguer-button">
            <i class="fas fa-bars ajuste"></i>
        </div>
        <nav class="main-navbar">
            <!-- <p> <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p> -->
                <ul class="left-navbar">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="right-navbar">
                    <li class="alineacion"><a href="/registro">Creá tu cuenta <i class="fas fa-user"></i></a></li> 
                    <li class="alineacion"><a href="/login">Ingresá <i class="fas fa-sign-in-alt alineacion"></i></a></li> 
                    <li class="alineacion"><a href="#">Mis compras <i class="fas fa-shopping-basket alineacion"></i></a>
                </ul>
        </nav>        
    </header>

    <div>
        <img class="img-banner" src="/images/img-home-banner.jpg" alt="banner">
    </div>
    <main class="seccion-main">
        <ul>
            <li class="titulares">Sección: Basado en tu última visita</li>
        </ul>
        <div class="wrap-visit">
            <div class="seccion-main-card">
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                <div class="seccion-main-card-item">
                    <i class="fas fa-truck truck circulo"></i>
                    <div class="precioDescuento">
                        <p class="precio">$6.770</p>
                        <p class="descuentoDescripcion">40% OFF</p>
                    </div>
                    <p class="Descripcion">Cafetera Moulinex</p>
                </div>
            </div>
    
            <div class="seccion-main-card">
                <img src="/images/img-macbook-pro-2019.jpg" alt="cafetera">
                <div class="seccion-main-card-item">
                    <i class="fas fa-truck truck circulo"></i>
                    <div class="precioDescuento">
                        <p class="precio">$230.000</p>
                        <p class="descuentoDescripcion">20% off</p>
                    </div>
                    <p class="Descripcion">MacBook Pro 2019</p>
                </div>
            </div>
    
            <div class="seccion-main-card">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="cafetera">
                <div class="seccion-main-card-item">
                    <i class="fas fa-truck truck circulo"></i>
                    <div class="precioDescuento">
                        <p class="precio">$70.500</p>
                        <p class="descuentoDescripcion">10% off</p>
                    </div>
                    <p class="Descripcion">Samsung Galaxy S10</p>
                </div>
            </div>
    
            <div class="seccion-main-card">
                <img src="/images/img-tv-samsung-smart.jpg" alt="cafetera">
                <div class="seccion-main-card-item">
                    <i class="fas fa-truck truck circulo"></i>
                    <div class="precioDescuento">
                        <p class="precio">$23.200</p>
                        <p class="descuentoDescripcion">5% off</p>
                    </div>
                    <p class="Descripcion">SmartTv Samsung 43"</p>
                </div>
            </div>
        </div>
            <ul>
                <li class="titulares">Sección de Ofertas</li>
            </ul>
        <div class="wrap-offer">
                <div class="seccion-main-card">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                    <div class="seccion-main-card-item">
                        <i class="fas fa-truck truck circulo"></i>
                        <div class="precioDescuento">
                            <p class="precio">$6.770</p>
                            <p class="descuentoDescripcion">40% OFF</p>
                        </div>
                        <p class="Descripcion">Cafetera Moulinex</p>
                    </div>
                </div>
        
                <div class="seccion-main-card">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="cafetera">
                    <div class="seccion-main-card-item">
                        <i class="fas fa-truck truck circulo"></i>
                        <div class="precioDescuento">
                            <p class="precio">$70.500</p>
                            <p class="descuentoDescripcion">10% off</p>
                        </div>
                        <p class="Descripcion">Samsung Galaxy S10</p>
                    </div>
                </div>
        
                <div class="seccion-main-card">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="cafetera">
                    <div class="seccion-main-card-item">
                        <i class="fas fa-truck truck circulo"></i>
                        <div class="precioDescuento">
                            <p class="precio">$23.200</p>
                            <p class="descuentoDescripcion">5% off</p>
                        </div>
                        <p class="Descripcion">SmartTv Samsung 43"</p>        
                    </div>
                </div>
        </div>

    </main>

    <footer>
        <div class="contenedor-footer">
            <ul>
                <div>
                    <i class="fas fa-credit-card fa-lg blue"></i>
                </div>
                <li><strong>Pagá con tarjeta o en efectivo</strong></li>
            </ul>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            <ul>
                <div><i class="fas fa-gift fa-lg blue"></i></div>
                <li><strong> Envío gratis desde $ 2.500</strong></li>
            </ul>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            <ul>
                <div><i class="fas fa-user-shield fa-lg blue"></i></div>
                <li><strong>Seguridad, de principio a fin</strong></li>
            </ul>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            <ul>
                <li><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></li>
            </ul>
        </div>
    </footer>

</body>
</html>