<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
rel="stylesheet" />

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div>
            <img src="/images/logo-mercado-liebre.svg" alt="logo Mercado Liebre" height="200px" width="200px">
        </div>
        <input type="text">

        <i class="fas fa-search alineacion"></i>
        <ul>
            
            <p>Comprá en cuotas y sin tarjeta de crédito</p>
            <li>Barra de navegación que posea las siguientes opciones:</li>
                <ul>
                    <li>Ofertas</li>
                    <li>Tiendas Oficiales</li>
                    <li>Vender</li>
                    <li id="margen">Ayuda</li>
                    <li class="alineacion">Creá tu cuenta</li> <i class="fas fa-user"></i>
                    <li></li>
                    <li class="alineacion">Ingresá</li> <i class="fas fa-sign-in-alt alineacion"></i>
                    <li></li>
                    <li class="alineacion">Mis compras</li> <i class="fas fa-shopping-basket alineacion"></i>
                </ul>
        </ul>
        <div class="burguer-menu">
            <i class="fas fa-bars ajuste"></i>
        </div>
    </header>
    <main>
        <ul>
            <li class="titulares">Sección: Basado en tu última visita</li>
        </ul>
        <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera" width="200px" height="200px">
        <p class="precio">$6.770</p>
        <p class="descuentoDescripcion">40% OFF</p>
        <p class="descuentoDescripcion">Cafetera Moulinex</p>

        <img src="/images/img-macbook-pro-2019.jpg" alt="cafetera" width="200px" height="200px">
        <p class="precio">$230.000</p>
        <p class="descuentoDescripcion">20% off</p>
        <p class="descuentoDescripcion">MacBook Pro 2019</p>

        <img src="/images/img-samsung-galaxy-s10.jpg" alt="cafetera" width="200px" height="200px">
        <p class="precio">$70.500</p>
        <p class="descuentoDescripcion">10% off</p>
        <p class="descuentoDescripcion">Samsung Galaxy S10</p>

        <img src="/images/img-tv-samsung-smart.jpg" alt="cafetera" width="200px" height="200px">
        <p class="precio">$23.200</p>
        <p class="descuentoDescripcion">5% off</p>
        <p class="descuentoDescripcion">SmartTv Samsung 43"</p>

        <ul>
            <li class="titulares">Sección de Ofertas</li>
        </ul>

        <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera" width="200px" height="200px">
        <p class="precio">$6.770</p>
        <p class="descuentoDescripcion">40% OFF</p>
        <p class="descuentoDescripcion">Cafetera Moulinex</p>

        <img src="/images/img-samsung-galaxy-s10.jpg" alt="cafetera" width="200px" height="200px">
        <p class="precio">$70.500</p>
        <p class="descuentoDescripcion">10% off</p>
        <p class="descuentoDescripcion">Samsung Galaxy S10</p>

        <img src="/images/img-tv-samsung-smart.jpg" alt="cafetera" width="200px" height="200px">
        <p class="precio">$23.200</p>
        <p class="descuentoDescripcion">5% off</p>
        <p class="descuentoDescripcion">SmartTv Samsung 43"</p>        

    </main>
    <footer>
        <ul>
            <li><strong>Pagá con tarjeta o en efectivo</strong></li>
        </ul>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        <ul>
            <li><strong> Envío gratis desde $ 2.500</strong></li>
        </ul>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        <ul>
            <li><strong>Seguridad, de principio a fin</strong></li>
        </ul>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        <ul>
            <li><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></li>
        </ul>
    </footer>
</body>
</html>