body{
    background-color: #EAC926;
    font-family: 'Roboto', sans-serif;
}

li{
    list-style:none;
    font-weight: bold;
}

p{
    font-weight: bold;
    font-size: 12px;
}

.titulares{
    font-size: 24px;
}

.precio{
    font-size: 18px;
}

.descuentoDescripcion{
    font-size: 16px;
}

#margen{
    margin-bottom: 15px;
}

.burguer-menu{
    color:white;
    background-color: #03264C;
    padding: 5px;
    display: inline;
    align-items: center;
}

.alineacion{
    display: inline-flex;
}

